pre {
  background: rgba(0, 0, 5, 0.2);
}
.bg-red {
  background: rgba(179, 119, 52, 0.2);
}
.bg-blue {
  background: rgba(52, 101, 179, 0.2);
}

.bg-green {
  background: rgba(76, 167, 41, 0.493);
}
