<header>
  <h1>
    {{ title | uppercase }}
  </h1>
</header>
<section>
  <p>Reference this json:</p>
  <pre>
    <code>
      {{ user | json }}
    </code>
  </pre>
</section>
<section>
  <p>Hello, my name is {{ user.firstName }} {{ user.lastName }}.</p>
  <p>
    This app was last refreshed as of {{ user.todaysDate | date: "short" }}.
  </p>

  <div class="bg-red">
    <h2>Formatting and Chaining Pipes:</h2>
    <p>
      {{ user.todaysDate | date: "MMMM" | uppercase }}
    </p>
    <p>
      Toggle the date format!
      {{ user.todaysDate | date: formatDate }}
    </p>
    <button (click)="toggleDateFormat()">Toggle the date</button>
  </div>

  <div class="bg-blue">
    <h2>Creating pipes for custom data transformations</h2>
    <p>
      How much is $1.00 CAD in USD?

      <!-- have to write US bc that is the default so it won't show  -->
      {{ currencyConverter.initialValue | currency: "CAD" }} = US
      {{ currencyConverter.initialValue * 0.79 | currency: "USD" }}
    </p>
    <p>
      How much is $1.00 CAD in EU?
      {{ currencyConverter.initialValue | currency: "CAD" }} =
      {{ currencyConverter.initialValue | convert | currency: "EUR" }}
    </p>
  </div>

  <div class="bg-green">
    <h2>Detecting changes with data binding in pipes</h2>
    <select [(ngModel)]="selectedProvince">
      <option
        *ngFor="let province of provinces"
        [value]="province.name"
        [attr.selected]="province.name"
      >
        {{ province.name }}
      </option>
    </select>
  </div>
</section>

<h2>NgRx Store</h2>
<app-create></app-create>
<app-read></app-read>
