<header>
  <h1>
    {{ title | uppercase }}
  </h1>
</header>
<section>
  <p>Reference this json:</p>
  <pre>
    <code>
      {{ user | json }}
    </code>
  </pre>
</section>
<section>
  <p>Hello, my name is {{ user.firstName }} {{ user.lastName }}.</p>
  <p>
    This app was last refreshed as of {{ user.todaysDate | date: "short" }}.
  </p>

  <div class="bg-red">
    <h2>Formatting and Chaining Pipes:</h2>
    <p>
      {{ user.todaysDate | date: "MMMM" | uppercase }}
    </p>
    <p>
      Toggle the date format!
      {{ user.todaysDate | date: formatDate }}
    </p>
    <button (click)="toggleDateFormat()">Toggle the date</button>
  </div>

  <div class="bg-blue">
    <h2>Creating pipes for custom data transformations</h2>
    <p>
      How much is $1.00 CAD in USD?

      <!-- have to write US bc that is the default so it won't show  -->
      {{ currencyConverter.initialValue | currency: "CAD" }} = US
      {{ currencyConverter.initialValue * 0.79 | currency: "USD" }}
    </p>
    <p>
      How much is $1.00 CAD in EU?
      {{ currencyConverter.initialValue | currency: "CAD" }} =
      {{ currencyConverter.initialValue | convert | currency: "EUR" }}
    </p>
  </div>

  <div class="bg-green">
    <h2>Detecting changes with data binding in pipes</h2>
    <select [(ngModel)]="selectedProvince">
      <option
        *ngFor="let province of provinces"
        [value]="province.name"
        [attr.selected]="province.name"
      >
        {{ province.name }}
      </option>
    </select>
  </div>
</section>

<h2>NgRx Store</h2>
<app-create></app-create>
<app-read></app-read>

<p>
  <a
    href="https://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/"
    >Learning Source for Template Driven Forms</a
  >
</p>
<section>
  <h2>Template-driven Forms:</h2>

  <p><strong>Pros:</strong></p>
  <ul>
    <li>Initial simplicity is within scope for small-medium sized forms</li>
    <li>Template code is cleaner and focuses only on presentation logic</li>
  </ul>
  <p><strong>Cons:</strong></p>
  <ul>
    <li>
      Can become hard to read and maintain to keep form validation rules within
      template. Adding more validator tags to a field or adding cross-field
      validations will decrease readbility and maintainability.
    </li>
    <li>Validation logic can't be easily unit tested</li>
  </ul>
</section>

<section>
  <h2>Reactive Forms:</h2>

  <p><strong>Pros:</strong></p>
  <ul>
    <li>Business logic in component class - can be unit tested more easily</li>
    <li>
      Moving form model definition to component makes it easy to define form
      dynamically so easier to implement more advanced use cases
    </li>
    <li>easier to create custom validator</li>
  </ul>

  <p>
    <strong>Key difference:</strong> Reactive forms module allows to define form
    modal programmatically instead of declaratively via the view.
  </p>
</section>

<app-reactive-form></app-reactive-form>

<section>
  <h2>Directives</h2>
  <h3>Built-in Directives</h3>
  <ul>
    <li>NgClass</li>
    <li>NgStyle</li>
    <li>NgModel</li>
  </ul>

  <h4>NgClass</h4>
  <div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>
  <p>currentClasses is {{ currentClasses | json }}</p>
  <!-- Adding an ngClass property binding to currentClasses sets the element's classes accordingly: -->
  <div [ngClass]="currentClasses">
    This div is initially saveable, unchanged, and special.
  </div>
  <!-- Remember that in this situation you'd call setCurrentClasses(), both initially and when the dependent properties change. -->

  <h4>ngModel (2-way) binding</h4>
  <label for="example-ngModel">[(ngModel)]:</label>
  <input [(ngModel)]="currentItem.name" id="example-ngModel" />
  <p>Name: {{ currentItem.name }}</p>

  <h5>without ngModel</h5>
  <label for="without">without NgModel:</label>
  <input
    [value]="currentItem.name"
    (input)="currentItem.name = $event.target.value"
    id="without"
  />
</section>
